<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="SimuladorInventarios" Language="1033" Version="1.0.0.0" Manufacturer="ArkCode" UpgradeCode="29c483e4-9dc8-4fa6-9ab7-3e7850dcd374">
    <Package InstallerVersion="500" Compressed="yes" Comments="Windows Installer Package" />

    <!-- Definir el archivo de medios -->
<Media Id="1" Cabinet="SimuladorInventarios.cab" EmbedCab="yes" />

    <!-- Definir la carpeta de instalación -->
<Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
    <Directory Id="INSTALLFOLDER" Name="SimuladorInventarios">
    <Component Id="MainExecutable" Guid="3d6954ff-41eb-4d68-a702-9ac027ffab36">
    <!-- Incluir el archivo EXE -->
<File Source="C:\2024\java\proyecto_de_simulacion\SimuladorInventarios-1.0.exe" />
    </Component>
    </Directory>
    </Directory>

    <!-- Crear un acceso directo en el escritorio -->
    <Directory Id="DesktopFolder" Name="Desktop">
    <Component Id="DesktopShortcut" Guid="495776ce-e725-4f33-ad92-550641917079"> <!-- Nuevo GUID aquí -->
<Shortcut Id="StartMenuShortcut" Name="SimuladorInventarios" Target="[INSTALLFOLDER]SimuladorInventarios-1.0.exe" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico"/>
    <RemoveFolder Id="RemoveDesktopFolder" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
    </Directory>

    </Directory>

    <!-- Icono -->
    <Icon Id="icon.ico" SourceFile="C:\2024\java\proyecto_de_simulacion\src\main\resources\images\ico.ico" />

    <!-- Asegurarse de que los archivos se instalen -->
<Feature Id="ProductFeature" Title="SimuladorInventarios" Level="1">
    <ComponentRef Id="MainExecutable"/>
    <ComponentRef Id="DesktopShortcut"/>
    </Feature>
    </Product>
    </Wix>
